/*external styling in paragraph tag change font color*/
p {
	color: blue;
}

/*change font-family and font-size using universal selector*/

* {
	font-family: sans-serif;
	font-size: 20px;
}

/*change font size of h1 tag using type/ tag selector*/

h1 {
	font-size: 30px;
}

/*h2- uppercase using id selector*/

#things_to_learn {
	text-transform: uppercase;
}

/*change background color in the list of languages using class selectors*/

.languages {
	background-color: skyblue;
}

/*border of the tools to be used using class selector*/

.tools {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

/*other things to be learned*/
/*change list style using adjacent sibling selector*/

img + ul {
	list-style-type: square;
}

/*dimension of image using descendant selector*/

section img  {
	height: 300px;
	width: 300px;
}

/*alignment of last paragraph using general/generic sibling selector*/

h4 ~ p {
	text-align: center;
}

/*other things to be learned*/
/*change letter spacing using child selector*/

body > section > h4 {
	letter-spacing: 10px;
}

